.banner {
    height: 636px;
    width: 100%;
    /* background-color: lightcoral; */
    margin-bottom: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.banner .wrapper {
    height: 95%;
    width: 98%;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 24px;
    background-image: url('../image/about/banner-img.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    position: relative;
}

.banner .wrapper .text {
    height: 50%;
    width: 40%;
    margin-left: 10%;
    margin-top: 15%;
    /* background-color: lightpink; */
}

.banner .wrapper .text h1 {
    font-size: 64px;
    color: white;
    font-weight: 400;
}

.banner .wrapper .text p {
    font-size: 32px;
    color: white;
}

.banner .wrapper .button {
    height: 45px;
    width: 203px;
    position: absolute;
    top: 60%;
    left: 45%;
    /* background-color: aqua; */
    padding: 5px 10px;
}
.banner .wrapper .text .button{
    padding: 5px 10px;
}
.banner .wrapper .button button {
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
}

.container {
    height: 976px;
    width: 100%;
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .wrapper {
    height: 90%;
    /* background-color: aqua; */
    display: flex;
}

.container .wrapper .left {
    height: 100%;
    width: 45%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;

}

.container .wrapper .left .container-one {
    height: 70%;
    width: 45%;
    /* background-color: black; */
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.5s;
}
.container .wrapper .left .container-one img {
    height: 48%;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(160, 0, 0);
    transition-duration: 0.5s;
    cursor: pointer;
}
.container .wrapper .left .container-one img:hover{
    height: 50%;
    width: 105%;
    box-shadow: 2px 5px 5px rgb(143, 143, 143);
}

.container .wrapper .left .container-two {
    height: 72%;
    width: 45%;
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

.container .wrapper .left .container-two img {
    height: 48%;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(181, 0, 0);
    cursor: pointer;
    transition-duration: 0.5s;
}
.container .wrapper .left .container-two img:hover{
    height: 50%;
    width: 105%;
    box-shadow: 2px 5px 5px rgb(143, 143, 143);
}
/* .container .wrapper .left .container-one,
.container-two img {
    object-fit: cover;
    border-radius: 41px;

} */

.container .wrapper .right {
    height: 100%;
    width: 70%;
    /* background-color: lightyellow; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container .wrapper .right .text-container {
    height: 80%;
    width: 80%;
    gap: 10px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container .container-one {
    height: 45%;
    width: 90%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container .wrapper .right .text-container .container-one h3 {
    font-size: 43px;
    color: rgb(0, 0, 71);
}

.container .wrapper .right .text-container .container-one p {
    font-size: 20px;
    text-align: justify;
    color: rgb(0, 0, 71);
}

.container .wrapper .right .text-container .container-two {
    height: 45%;
    width: 90%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.container .wrapper .right .text-container .container-two h3 {
    font-size: 43px;
    color: rgb(0, 0, 71);
}

.container .wrapper .right .text-container .container-two p {
    font-size: 20px;
    text-align: justify;
    color: rgb(0, 0, 71);
}

.last-banner {
    height: 636px;
    width: 100%;
    /* background-color: lightcoral; */
    margin-bottom: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-banner .wrapper {
    height: 95%;
    width: 98%;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 24px;
    background-image: url('../image/about/banner-img.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    position: relative;
}

.last-banner .wrapper .text {
    height: 50%;
    width: 35%;
    margin-left: 10%;
    margin-top: 10%;
    /* background-color: lightpink; */
}

.last-banner .wrapper .text h1 {
    font-size: 64px;
    color: white;
    font-weight: 400;
}

.last-banner .wrapper .text p {
    font-size: 32px;
    color: white;
}

.last-banner .wrapper .button {
    height: 45px;
    width: 203px;
    position: absolute;
    top: 40%;
    left: 50%;
    /* background-color: aqua; */
}

.last-banner .wrapper .button button {
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
}

.help-container {
    height: 323px;
    width: 100%;
    /* background-color: antiquewhite; */
    margin-bottom: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help-container .wrapper {
    height: 100%;
    width: 90%;
    /* background-color:rgb(0, 87, 58); */
}

.help-container .wrapper h3 {
    height: 20%;
    width: 100%;
    /* background-color: azure; */
    color: rgb(0, 0, 71);
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.help-container .wrapper .sub-container {
    height: 80%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.help-container .wrapper .sub-container .card{
    height: 90%;
    width: 35%;
    /* background-color: red; */
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition-duration: 0.5s;
}
.help-container .wrapper .sub-container .card p {
    height: 50%;
    width: 100%;
    /* text-align: center; */
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.help-container .wrapper .sub-container .card:hover{
    height: 99%;
    width: 38%;
    box-shadow: 2px 5px 8px rgb(135, 135, 135);
}
.help-container .wrapper .sub-container .card .heading {
    /* background-color: red; */
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: self-end;
    justify-content: center;
    gap: 30px;
}
.help-container .wrapper .sub-container .card h2 {
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
}

.help-container .wrapper .sub-container .card p {
    height: 50%;
    width: 90%;
    text-align:center;
    font-size: 24px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

.help-container .wrapper .sub-container .card-one {
    background-color: rgb(171, 154, 75);
    /* background-color: rgba(0, 229, 255, 0.996); */
}

.help-container .wrapper .sub-container :nth-child(2) {
    background-color: rgb(0, 0, 71);

}

.help-container .wrapper .sub-container :nth-child(3) {
    background-color: rgb(255, 0, 0);
}


@media only screen and (max-width:1370px){
    .help-container .wrapper .sub-container .card p {
        height: 50%;
        width: 100%;
        text-align: center;
        font-size: 18px;
        color: white;
    }
}

@media only screen and (max-width:1344px){
    .banner .wrapper {
        height: 95%;
        width: 98%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 24px;
        background-image: url(../image/about/banner-img.jpg);
        background-size: cover;
        background-position: right;
        object-position: right;
        background-blend-mode: overlay;
        position: relative;
    }
    .last-banner .wrapper {
        height: 95%;
        width: 98%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 24px;
        background-image: url(../image/about/banner-img.jpg);
        background-size: cover;
        object-position: right;
        background-position: right;
        background-blend-mode: overlay;
        position: relative;
    }
}

@media only screen and (max-width:1177px){
    .help-container .wrapper .sub-container .card h2 {
        font-size: 26px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0);
    }
    .help-container .wrapper .sub-container .card p {
        height: 50%;
        width: 90%;
        text-align: center;
        font-size: 16px;
        color: white;
    }
}

@media only screen and (max-width:1090px){
    .banner .wrapper .text h1 {
        font-size: 36px;
        color: white;
        font-weight: 400;
    }
    .banner .wrapper .text p {
        font-size: 20px;
        color: white;
    }
    .container {
        height: auto;
        width: 100%;
        /* background-color: lightcoral; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .container .wrapper {
        height: auto;
        /* background-color: aqua; */
        display: flex;
        width: 90%;
    }
    .container .wrapper .left {
        height: auto;
        width: 45%;
        /* background-color: aquamarine; */
        display: flex;
        justify-content: space-between;
    }
    .container .wrapper .left .container-one {
        height: auto;
        width: 47%;
        /* background-color: black; */
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
    }
    .container .wrapper .left .container-two {
        height: auto;
        width: 47%;
        /* background-color: rgb(255, 0, 0); */
        display: flex;
        align-self: flex-end;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
    }
    .container .wrapper .left .container-one img {
        height: 209px;
        width: 100%;
        border-radius: 20px;
        background-color: rgb(160, 0, 0);
    }
    .container .wrapper .left .container-one img:hover{
        height: 215px;
        width: 105%;
    }
    .container .wrapper .left .container-two img {
        height: 214px;
        width: 100%;
        border-radius: 20px;
        background-color: rgb(181, 0, 0);
    }
    .container .wrapper .left .container-two img:hover{
        height: 215px;
        width: 105%;
    }
    .container .wrapper .right .text-container {
        height: auto;
        width: 80%;
        gap: 10px;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container .wrapper .right .text-container .container-two h3 {
        font-size: 34px;
        color: rgb(0, 0, 71);
    }
    .help-container {
        height: auto;
        width: 100%;
        /* background-color: antiquewhite; */
        margin-bottom: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .help-container .wrapper .sub-container {
        height: 80%;
        width: 100%;
        /* background-color: aquamarine; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .help-container .wrapper .sub-container .card {
        height: 197px;
        width: 405px;
        /* background-color: red; */
        border-radius: 38px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .help-container .wrapper .sub-container .card:hover{
        height: 220px;
        width: 420px;
    }
    .last-banner .wrapper .text h1 {
        font-size: 36px;
        color: white;
        font-weight: 400;
    }
    .last-banner .wrapper .text p {
        font-size: 20px;
        color: white;
    }
}

@media only screen and (max-width:922px){
    .banner {
        height: 465px;
        width: 100%;
        /* background-color: lightcoral; */
        margin-bottom: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .help-container .wrapper .sub-container .card {
        height: 170px;
        width: 100%;
        /* background-color: red; */
        border-radius: 38px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .help-container .wrapper .sub-container .card:hover{
        height: 200px;
        width: 110%;
    }
    .help-container .wrapper .sub-container .card p {
        height: 50%;
        width: 78%;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 18px;
        color: white;
    }
    .last-banner {
        height: 465px;
        width: 100%;
        /* background-color: lightcoral; */
        margin-bottom: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width:872px){
    .container .container-one {
        height: 295px;
        width: 100%;
        /* background-color: antiquewhite; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .container .wrapper .right .text-container .container-one h3  {
        font-size: 34px;
        color: rgb(0, 0, 71);
    }
    .container .wrapper .right .text-container .container-one p {
        font-size: 16px;
        text-align: justify;
        color: rgb(0, 0, 71);
    }
    .container .wrapper .right .text-container .container-two {
        height: 295px;
        width: 100%;
        /* background-color: antiquewhite; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .container .wrapper .left {
        height: 573px;
        width: 45%;
        /* background-color: aquamarine; */
        display: flex;
        justify-content: space-between;
    }
    .container .wrapper .left .container-one img {
        height: 208px;
        width: 100%;
        border-radius: 14px;
        background-color: rgb(181, 0, 0);
    }
    .container .wrapper .left .container-two img {
        height: 208px;
        width: 100%;
        border-radius: 14px;
        background-color: rgb(181, 0, 0);
    }
    .container .wrapper .right {
        height: 100%;
        width: 60%;
        /* background-color: lightyellow; */
        display: flex
    ;
        align-items: center;
        justify-content: space-around;
    }
}
@media only screen and (max-width:777px){
.container .wrapper .left {
    height: 600px;
    width: 50%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
}
.container .wrapper .right .text-container .container-one h3 {
    font-size: 24px;
    color: rgb(0, 0, 71);
}
.container .wrapper .right .text-container .container-one p {
    font-size: 16px;
    text-align: justify;
    color: rgb(0, 0, 71);
}
.container .wrapper .right .text-container .container-two h3 {
    font-size: 24px;
    color: rgb(0, 0, 71);
}
.container .wrapper .right .text-container .container-two p {
    font-size: 16px;
    text-align: justify;
    color: rgb(0, 0, 71);
}
.help-container .wrapper .sub-container .card {
    height: 153px;
    width: 100%;
    /* background-color: red; */
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
}
@media only screen and (max-width:798px){
    .container .wrapper .left {
        height: 600px;
        width: 50%;
        /* background-color: aquamarine; */
        display: flex;
        justify-content: space-between;
    }
    .container .wrapper .right .text-container .container-one h3 {
        font-size: 24px;
        color: rgb(0, 0, 71);
    }
    .container .wrapper .right .text-container .container-one p {
        font-size: 16px;
        text-align: justify;
        color: rgb(0, 0, 71);
    }
    .container .wrapper .right .text-container .container-two h3 {
        font-size: 24px;
        color: rgb(0, 0, 71);
    }
    .container .wrapper .right .text-container .container-two p {
        font-size: 16px;
        text-align: justify;
        color: rgb(0, 0, 71);
    }
    .help-container .wrapper .sub-container .card {
        height: 153px;
        width: 100%;
        /* background-color: red; */
        border-radius: 38px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

}
@media only screen and (max-width:684px){
.container .wrapper .left .container-one {
    height: auto;
    width: 49%;
    /* background-color: black; */
    display: flex
;
    align-self: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
}
@media only screen and (max-width:648px){
    .banner {
        height: 351px;
        width: 100%;
        /* background-color: lightcoral; */
        margin-bottom: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner .wrapper .button {
        position: absolute;
        top: 54%;
        left: 10%;
        /* background-color: aqua; */
        padding: 5px 10px;
    }
    .banner .wrapper .text {
        height: 50%;
        width: 50%;
        margin-left: 10%;
        margin-top: 10%;
    }
    .banner .wrapper .text h1 {
        font-size: 36px;
        color: white;
        font-weight: 400;
    } 
    .container .wrapper .left {
        height: 527px;
        width: 100%;
        background-color: aquamarine;
        display: flex;
        justify-content: space-between;
    }
    .container .wrapper .left .container-one {
        height: auto;
        width: 37%;
        /* background-color: black; */
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
    }
    .container .wrapper .left .container-two {
        height: auto;
        width: 37%;
        /* background-color: black; */
        display: flex;
        align-self: flex-end;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
    }
    .help-container .wrapper h3 {
        height: 20%;
        width: 100%;
        /* background-color: azure; */
        color: rgb(0, 0, 71);
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }
    .help-container .wrapper .sub-container .card h2 {
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0);
    }
    .container {
        height: 999px;
        width: 100%;
        /* background-color: lightcoral; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .container .wrapper {
        height: auto;
        /* background-color: aqua; */
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        gap: 20px;
    }
    .container .wrapper .left {
        height: 650px;
        width: 100%;
        /* background-color: aquamarine; */
        display: flex;
        justify-content: space-around;
    }
    .container .wrapper .right {
        height: 100%;
        width: 100%;
        /* background-color: lightyellow; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container .wrapper .left .container-one img {
        height: 278px;
        width: 100%;
        border-radius: 20px;
        background-color: rgb(160, 0, 0);
    }
    .container .wrapper .left .container-two img {
        height: 278px;
        width: 100%;
        border-radius: 20px;
        background-color: rgb(181, 0, 0);
    }
    .container .wrapper .right .text-container .container-one {
        height: 45%;
        width: 100%;
        /* background-color: antiquewhite; */
        border-radius: 41px;
    }
    .container .wrapper .right .text-container .container-two {
        height: 45%;
        width: 100%;
        /* background-color: antiquewhite; */
        border-radius: 41px;
    }
}
@media only screen and (max-width:500px){
    .banner .wrapper {
        height: 95%;
        width: 98%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 24px;
        background-image: url(../image/about/banner-img.jpg);
        background-size: cover;
        background-position: right;
        object-position: right;
        background-blend-mode: overlay;
        /* position: relative; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner .wrapper .text {
        height: 50%;
        width: 50%;
        margin: 0px;
        text-align: center;
    }
    .banner .wrapper .button {
        height: 45px;
        position: absolute;
        top: 69%;
        left: 28%;
        /* background-color: aqua; */
        padding: 5px 10px;
        display: block;
        width: 203px;
    }
    .last-banner .wrapper {
        height: 95%;
        width: 98%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 24px;
        background-image: url(../image/about/banner-img.jpg);
        background-size: cover;
        object-position: right;
        background-position: right;
        background-blend-mode: overlay;
        /* position: relative; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .last-banner .wrapper .text {
        height: 50%;
        width: 57%;
        /* background-color: lightpink; */
        margin: 0px;
    }
    .last-banner .wrapper .text h1 {
        font-size: 36px;
        color: white;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .last-banner .wrapper .button {
        height: 45px;
        width: 203px;
        /* position: absolute; */
        top: 75%;
        left: 27%;
        /* background-color: aqua; */
    }
}
@media only screen and (max-width:477px){
        .banner .wrapper .button {
        height: 45px;
        /* position: absolute; */
        top: 69%;
        left: 22%;
        /* background-color: aqua; */
        padding: 5px 10px;
        display: block;
        width: 203px;
    }
    .container .wrapper {
        height: auto;
        /* background-color: aqua; */
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        gap: 0px;
    }
    .container .wrapper .left .container-one {
        height: auto;
        width: 48%;
    }
    .container .wrapper .left .container-two {
        height: auto;
        width: 48%;
    }
    .container .wrapper .left .container-one img {
        height: 238px;
        width: 100%;
        border-radius: 20px;
        background-color: rgb(160, 0, 0);
    }
    .container .wrapper .left .container-two img {
        height: 238px;
        width: 100%;
        border-radius: 20px;
        background-color: rgb(160, 0, 0);
    }
    .last-banner .wrapper .text {
        height: 50%;
        width: 70%;
        /* background-color: lightpink; */
        margin: 0px;
    }
}
@media only screen and (max-width:452px){
    .container {
        height: 1047px;
        width: 100%;
        /* background-color: lightcoral; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .container .wrapper .left {
        height: 619px;
        width: 100%;
        /* background-color: aquamarine; */
        display: flex;
        justify-content: space-around;
    }
        .container .wrapper .left .container-one img {
        height: 234px;
        width: 100%;
        border-radius: 20px;
        background-color: rgb(160, 0, 0);
    }
    .container .wrapper .left .container-two img {
        height: 234px;
        width: 100%;
        border-radius: 20px;
        background-color: rgb(181, 0, 0);
    }
}
@media only screen and (max-width:400px){
    .banner .wrapper .button {

        position: absolute;
        top: 63%;
        left: 5%;
        /* background-color: aqua; */
        padding: 5px 10px;
    }
    .last-banner .wrapper .text {
        height: 50%;
        width: 78%;
        /* background-color: lightpink; */
        margin: 0px;
    }
    .help-container .wrapper .sub-container .card p {
        height: 50%;
        width: 78%;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 15px;
        color: white;
    }
}


@media only screen and (max-width:367px){
    .container .wrapper .right {
        height: 100%;
        width: 100%;
        /* background-color: lightyellow; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 41px;
    }
}

@media only screen and (max-width:320px){
    .banner {
        height: 320px;
        width: 100%;
        /* background-color: lightcoral; */
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner .wrapper .button {
        position: absolute;
        top: 63%;
        left: 5%;
        /* background-color: aqua; */
        padding: 5px 10px;
    }
    .container .wrapper .left .container-one img {
        height: 176px;
        width: 100%;
        border-radius: 20px;
        background-color: rgb(160, 0, 0);
    }
    .container .wrapper .left .container-two img {
        height: 176px;
        width: 100%;
        border-radius: 20px;
        background-color: rgb(181, 0, 0);
    }
    .container .wrapper .right {
        height: 100%;
        width: 100%;
        /* background-color: lightyellow; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 90px;
    }
}