.container {
    height: 615px;
    width: 100%;
    background-color: rgb(247, 245, 234);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 52px;
}

.container .wrapper {
    height: 100%;
    width: 90%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
}

.container .wrapper .left-banner {
    height: 100%;
    width: 50%;
    /* background-color: rgb(251, 0, 255); */
    align-items: center;
    align-content: center;
    justify-content: center;
}

.container .wrapper .left-banner .sub-container {
    height: 80%;
    width: 90%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

.container .wrapper .left-banner .sub-container h1 {
    font-family: maghelia;
    font-size: 64px;
    color: rgb(1, 1, 70);
    line-height: 1;
}

.container .wrapper .left-banner .sub-container .sub-para {
    height: 40%;
    width: 100%;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container .wrapper .left-banner .sub-container .sub-para p {
    font-size: 24px;
    color: rgb(1, 1, 70);
    line-height: 1;
}

.container .wrapper .right-banner {
    height: 100%;
    width: 50%;
    /* background-color: rgb(251, 0, 255); */
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.container .wrapper .right-banner .sub-container {
    height: 90%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    gap: 20px;

}

.container .wrapper .right-banner .sub-container .img-one {
    height: 80%;
    width: 50%;
    background-color: blueviolet;
    justify-self: start;
    align-self: flex-end;
    box-shadow: 10px 4px 10.3px gray;
    border-radius: 111px 111px 30px 30px;
}

.container .wrapper .right-banner .sub-container .img-one img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 111px 111px 30px 30px;
}

.container .wrapper .right-banner .sub-container .img-two {
    height: 80%;
    width: 50%;
    background-color: rgb(226, 116, 43);
    box-shadow: 10px 4px 10.3px gray;
    border-radius: 30px 30px 111px 111px;
}

.container .wrapper .right-banner .sub-container .img-two img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 30px 30px 111px 111px;
}

.container-two {
    height: 246px;
    width: 100%;
    /* background-color: lightcoral; */
    margin-bottom: 52px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.container-two .wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}

.container-two .wrapper .card {
    height: 100%;
    width: 25%;
    background-color: rgb(234, 228, 205);
    margin-right: 10px;
    border-radius: 24px;
    box-shadow: 0px 2px 5px rgb(197, 197, 197);
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition-duration: 0.5s;
}
.container-two .wrapper .card:hover{
    height: 100%;
    width: 28%;
    box-shadow: 3px 5px 5px rgb(197, 197, 197);
}

.container-two .wrapper .card img {
    height: 36%;
}

.container-two .wrapper .card p {
    /* height: 40%; */
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: rgb(5, 5, 49);
}

.container-three {
    height: 340px;
    width: 100%;
    /* background-color: lightcoral; */
    margin-bottom: 52px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.container-three .wrapper {
    height: 100%;
    width: 90%;
    /* background-color: aqua; */
    justify-content: space-between;
}

.container-three .wrapper h1 {
    height: 15%;
    width: 100%;
    font-size: 48px;
    color: rgb(4, 4, 64);
    /* background-color: blueviolet; */
    text-align: center;
}

.container-three .wrapper .card-container {
    height: 80%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-three .wrapper .card {
    height: 80%;
    width: 24%;
    margin-right: 10px;
    border-radius: 24px;
    /* background-color: brown; */
    transition-duration: 0.5s;
}
.container-three .wrapper .card:hover{
    height: 85%;
    width: 26%;
}

.container-three .wrapper .card img {
    object-fit: cover;
    height: 90%;
    width: 100%;
    border-radius: 24px;
    box-shadow: 0px 2px 8px rgb(197, 197, 197);
    cursor: pointer;
}
.container-three .wrapper .card img:hover{
    box-shadow: 3px 5px 5px rgb(197, 197, 197); 
}

.container-three .wrapper .card .card-sub-heading {
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
}

.container-three .wrapper .card .card-sub-heading :nth-child(1) {
    font-weight: 800;
}

.container-four {
    height: 392px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-bottom: 52px;
}

.container-four .wrapper {
    height: 100%;
    width: 85%;
    /* background-color: lightcoral; */
}

.container-four .wrapper h1 {
    height: 20%;
    width: 100%;
    font-size: 48px;
    color: rgb(4, 4, 64);
    text-align: center;
    /* background-color: aquamarine; */
}

.container-four .wrapper .card-container {
    height: 80%;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-four .wrapper .card-container .card:nth-child(1) {
    height: 95%;
    width: 48%;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    border-radius: 33px;
    background-image: url('../image/index/hallmark-jewellery.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.5s;
}
.container-four .wrapper .card-container .card:hover{
    height: 97%;
    width: 49%;
    box-shadow: 5px 8px 8px rgb(197, 197, 197); 
}

.container-four .wrapper .card-container .card .heading {
    height: 30%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 18px;
    position: relative;
}

.container-four .wrapper .card-container .card .heading h1 {
    font-size: 32px;
    color: white;
    position: absolute;
    top: 25%;
    font-weight: 500;
}

.container-four .wrapper .card-container .card:nth-child(2) {
    height: 95%;
    width: 48%;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    border-radius: 33px;
    background-image: url('../image/index/new-models.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.5s;
}
.container-four .wrapper .card-container .card:hover{
    height: 97%;
    width: 49%;
    box-shadow: 5px 8px 10px rgb(197, 197, 197); 
}

.img-banner {
    height: 564px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    margin-bottom: 52px;
}

.img-banner .wrapper {
    height: 100%;
    width: 85%;
    background-color: rgb(247, 247, 247);
    border-radius: 40px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.img-banner .wrapper:hover{
    height: 100%;
    width: 87%;
    box-shadow: 1px 3px 15px rgb(201, 201, 201);
}

.img-banner .wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 40px;
    /* box-shadow: 3px 5px 5px rgb(201, 201, 201); */
}

.gold-loan-offer {
    height: 558px;
    width: 100%;
    /* background-color: lawngreen; */
    display: flex;
    justify-content: center;
    margin-bottom: 52px;
}

.gold-loan-offer .wrapper {
    height: 100%;
    width: 85%;
    background-color: rgb(0, 0, 0, 0.5);
    background-image: url('../image/index/gold-loan.png');
    /* box-shadow: 3px 8px 7px gray; */
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}
.gold-loan-offer .wrapper:hover{
    height: 100%;
    width: 87%;
    box-shadow: 1px 3px 15px rgb(201, 201, 201);
}

.gold-loan-offer .wrapper .heading {
    height: 20%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gold-loan-offer .wrapper .heading h1 {
    font-size: 64px;
    color: rgb(252, 252, 252);
    font-weight: 500;
}

.gold-check {
    height: 800px;
    width: 100%;
    /* background-color: aquamarine; */
    margin-bottom: 52px;
    display: flex;
    justify-content: center;
}

.gold-check .wrapper {
    height: 100%;
    width: 85%;
    /* background-color: aqua; */
}

.gold-check .wrapper h1 {
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 48px;
    color: rgb(4, 4, 64);
    /* background-color: blueviolet; */
}

.gold-check .wrapper .gold-container {
    height: 90%;
    width: 100%;
    /* background-color: rgb(198, 48, 48); */
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}

.gold-check .wrapper .gold-container .img-container {
    height: 90%;
    width: 45%;
    border-radius: 28px;
    /* background-color: black; */
}
.gold-check .wrapper .gold-container .img-container:hover{
    box-shadow: 0px 0px 20px rgb(143, 143, 143,0.5);
}

.gold-check .wrapper .gold-container .img-container img {
    height: 100%;
    width: 100%;
    border-radius: 28px;
    object-fit: cover;
}

.gold-check .wrapper .gold-container .card-container {
    height: 90%;
    width: 50%;
    /* background-color: cadetblue; */
    border-radius: 28px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
}

.gold-check .wrapper .gold-container .card-container .card {
    height: 45%;
    width: 45%;
    background-color: rgb(234, 228, 205);
    gap: 10px;
    border-radius: 31px;
    cursor: pointer;
}
.gold-check .wrapper .gold-container .card-container .card:hover{
    box-shadow: 2px 5px 5px rgb(223, 223, 223);
}

.gold-check .wrapper .gold-container .card-container .card img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 28px;
}

.gold-check .wrapper .gold-container .card-container .card h3 {
    height: 10%;
    width: 100%;
    font-size: 32px;
    color: rgb(4, 4, 64);
    font-weight: 400;
    text-align: center;
    /* background-color: lightgreen; */
}

.last-container {
    height: 614px;
    width: 100%;
    /* background-color: aqua; */
    margin-bottom: 52px;
    display: flex;
    justify-content: center;
}

.last-container .wrapper {
    height: 100%;
    width: 90%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.last-container .wrapper .left,
.right {
    height: 80%;
    width: 50%;
    /* background-color: lightskyblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-container .wrapper .left .text {
    height: 80%;
    width: 80%;
    /* background-color: lightgreen; */
}

.last-container .wrapper .text {
    height: 80%;
    width: 80%;
    border-radius: 30px;

    background-color: rgb(255, 255, 255);
}

.last-container .wrapper .text h4 {
    font-size: 48px;
    text-align: center;
    color: rgb(4, 4, 64);
}

.last-container .wrapper .text p {
    font-size: 24px;
    color: rgb(4, 4, 64);
    text-align: center;
}

.last-container .wrapper .right {
    height: 90%;
    width: 50%;
    /* background-color: rgb(255, 87, 87); */
}

.last-container .wrapper .right .img-box {
    height: 100%;
    width: 90%;
    /* background-color: black; */
}

.last-container .wrapper .right .img-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 28px;
    box-shadow: 3px 5px 5px rgb(197, 197, 197);
}
@media only screen and (max-width:1419px) {
    .container .wrapper .left-banner .sub-container h1 {
        font-size: 59px;
    }

    .container-two {
        height: 220px;
    }

    .container-four {
        height: 352px;
    }
}
@media only screen and (max-width:1344px){
    .gold-loan-offer .wrapper .heading h1 {
        font-size: 51px;
    }
}
@media only screen and (max-width:1319px) {
    .container .wrapper .left-banner .sub-container h1 {
        font-size: 54px;
    }
    .container-two {
        height: 207px;
    }
    .gold-loan-offer .wrapper .heading h1 {
        font-size: 51px;
    }
}
@media only screen and (max-width:1248px){
    .container .wrapper .left-banner .sub-container h1 {
        font-size: 50px;
    }
    .container .wrapper .right-banner .sub-container {
        height: 80%;
    }
    .gold-loan-offer .wrapper .heading h1 {
        font-size: 52px;
    }
    .container-two .wrapper {
        width: 90%;
    }
    .container-two {
        margin-bottom: 16px;
    }
    .container-two .wrapper .card {
        height: 87%;
    }
    .container-two .wrapper .card img {
        height: 36%;
    }
    .container-three .wrapper .card .card-sub-heading {
        font-size: 19px;
    }
    .container-three .wrapper .card {
        height: 76%;
    }
    .container-three .wrapper h1 {
        height: 19%
    }
    .container-three {
        margin-bottom: 16px;
    }
    .container-four {
        margin-bottom: 36px;
    }
    .container-four .wrapper {
        height: 100%;
        width: 90%;
    }
    .container-two .wrapper .card p {
        font-size: 20px;
    }
}
@media only screen and (max-width:1112px){
    .container .wrapper .left-banner .sub-container h1 {
        font-size: 46px;
    }
    .container-two .wrapper .card img {
        height: 30%
    }
    .container-two .wrapper .card p {
        font-size: 18px;
    }
    .container-three {
        height: 305px;
    }
    .container-four {
        height: 281px;
    }
    .img-banner {
        height: 488px;
    }
    .gold-check {
        height: 672px;
    }
    .gold-check .wrapper .gold-container {
        height: 100%;
    }
    .gold-check {
        margin-bottom: 0px;
    }
    .last-container .wrapper .text p {
        font-size: 19px;
    }
    .last-container .wrapper .text h4 {
        font-size: 40px;
    }
    .img-banner .wrapper{
        width: 90%;
    }
}
@media only screen and (max-width:1030px){
    .container {
        height: 508px;
    }

    .container .wrapper .right-banner {
        width: 100%;
    }

    .container .wrapper .left-banner {
        width: 45%;
    }

    .container .wrapper .right-banner {
        width: 55%;
    }

    .container .wrapper .left-banner .sub-container h1 {
        font-size: 43px;
    }

    .container .wrapper .left-banner .sub-container .sub-para p {
        font-size: 14px;
    }

    .container-two {
        margin-bottom: 0px;
    }

    .container-two .wrapper .card img {
        height: 29%;
    }

    .container-two .wrapper .card {
        height: 75%;
    }

    .container-two .wrapper .card p {
        font-size: 16px;
    }

    .container-three {
        height: 300px;
    }

    .container-three .wrapper .card-container {
        height: 85%;
    }

    .container-three .wrapper h1 {
        font-size: 40px;
        height: 12%;
    }

    .container-four .wrapper h1 {
        font-size: 40px;
    }

    .container-four {
        height: 299px;
    }

    .container-four .wrapper .card-container .card .heading h1 {
        font-size: 25px;
    }

    .img-banner {
        height: 490px;
    }

    .gold-loan-offer {
        height: 489px;
    }

    .gold-loan-offer .wrapper .heading h1 {
        font-size: 38px;
    }

    .gold-check .wrapper h1 {
        font-size: 40px;
    }

    .gold-check {
        height: 598px;
    }

    .gold-check .wrapper .gold-container .card-container .card h3 {
        font-size: 22px;
    }

    .gold-check .wrapper .gold-container .card-container .card img {
        border-radius: 20px;
    }

    .gold-check .wrapper .gold-container .card-container .card {
        border-radius: 20px
    }

    .gold-check {
        margin-bottom: 0px;
    }

    .last-container .wrapper .text h4 {
        font-size: 40px;
    }

    .last-container .wrapper .text p {
        font-size: 20px;
    }

    .last-container {
        margin-bottom: 0px
    }
}
@media only screen and (max-width:1029px){
    .gold-loan-offer .wrapper {
        width: 90%;
    }
    .gold-loan-offer .wrapper .heading h1 {
        font-size: 32px;
    }
    .container .wrapper .left-banner .sub-container h1 {
        font-size: 38px;
    }
    .container .wrapper .left-banner .sub-container {
        height: 56%;
    }
}
@media only screen and (max-width:1120px){
    .container .wrapper .left-banner .sub-container {
        height: 60%;
    }

    .container .wrapper .left-banner .sub-container h1 {
        font-size: 40px;
    }

    .container {
        height: 567px;
    }

    .container .wrapper .left-banner .sub-container h1 {
        font-size: 44px;
    }

    .container .wrapper .left-banner .sub-container .sub-para p {
        font-size: 16px;
    }

    .container .wrapper .left-banner .sub-container {
        height: 65%;
    }

    .container .wrapper .right-banner {
        width: 70%
    }
    .gold-loan-offer .wrapper .heading h1 {
        font-size: 40px;
    }

    .last-container {
        height: 683px;
    }

    .gold-check {
        margin-bottom: 0px;
    }
}
@media only screen and (max-width:1008px){
    .gold-check {
        height: 623px;
    }
}
@media only screen and (max-width:941px){
    .container .wrapper .right-banner .sub-container {
        gap: 10px;
    }
    .container .wrapper .left-banner .sub-container h1 {
        font-size: 35px;
    }
    .container-two .wrapper .card p {
        font-size: 15px;
    }
    .container-three {
        height: 268px;
    }
    .container-three .wrapper .card .card-sub-heading {
        font-size: 15px;
    }
    .img-banner {
        height: 460px;
    }
    .gold-check {
        height: 566px;
        margin-bottom: 10px;
    }
    .last-container {
        height: 509px;
    }
}
@media only screen and (max-width:910px){
    .container .wrapper .left-banner .sub-container h1 {
        font-size: 33px;
    }
    .container .wrapper .left-banner .sub-container {
        height: 51%;
    }
    .container {
        height: 475px;
        margin-bottom: 25px;
    }
    .container .wrapper .left-banner .sub-container h1 {
        font-size: 36px;
    }
    .container .wrapper .left-banner .sub-container {
        height: 59%;
    }
    .container-two {
        height: 190px;
        margin-bottom: 8px;
    }
    .container-two .wrapper .card {
        height: 79%;
    }
    .container-three {
        height: 239px;
    }
    .container-three .wrapper h1 {
        font-size: 32px;
        height: 20px;
    }
    .container-four .wrapper h1 {
        height: 20%;
        font-size: 32px;
    }
    .container-four {
        height: 255px;
    }
    .img-banner .wrapper {
        width: 90%;
    }
    .img-banner {
        height: 410px;
    }
    .gold-loan-offer {
        height: 404px;
    }
    .gold-loan-offer .wrapper {
        width: 90%;
    }
    .gold-loan-offer .wrapper {
        height: 100%;
        width: 90%;
    }
    .gold-check .wrapper h1 {
        font-size: 32px;
    }
    .last-container {
        height: 504px;
    }
    .last-container .wrapper .right {
        width: 55%;
    }
    .last-container .wrapper .text h4 {
        font-size: 34px;
    }
    .last-container .wrapper .text p {
        font-size: 17px;
    }
}
@media only screen and (max-width:892px){
    .container .wrapper .left-banner .sub-container h1 {
        font-size: 32px;
    }
}
@media only screen and (max-width:824px){
    .container {
        height: 500px;
    }
    .container .wrapper .left-banner .sub-container .sub-para p {
        font-size: 16px;
    }
    .container-two .wrapper .card p {
        font-size: 13px;
    }
    .container-four .wrapper .card-container .card .heading h1 {
        font-size: 20px;
    }
    .gold-check .wrapper .gold-container .card-container .card h3 {
        font-size: 16px;
    }
    .last-container .wrapper .text p {
        font-size: 16px;
    }
    .last-container {
        height: 460px;
    }
}
@media only screen and (max-width:804px){
    .gold-loan-offer .wrapper .heading h1 {
        font-size: 30px;
    }
}
@media only screen and (max-width:794px){
    nav .wrapper .social-media-link button {
        margin-left: 10px;
    }
    nav .wrapper .social-media-link button {
        margin-left: 20px;
        text-align: center;
        height: 38px;
        width: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav .wrapper .social-media-link button a {
        font-size: 16px;
        text-align: center;
    }
    .container .wrapper .left-banner .sub-container h1 {
        font-size: 29px;
    }
    .gold-check {
        height: 490px;
    }
}
@media only screen and (max-width:736px){
    .container {
        height: 400px;
    }
    .container-two {
        height: 160px;
    }
    .gold-check .wrapper{
        width: 90%;
    }
    .container-three {
        height: 200px;
    }
    .container-three .wrapper .card .card-sub-heading {
        font-size: 11px;
    }
    .container-four {
        height: 198px;
    }
    .container-four .wrapper h1 {
        height: 20%;
    }
    .img-banner {
        height: 374px;
    }
    .gold-loan-offer {
        height: 376px;
    }
    .last-container {
        height: 426px;
    }
    .last-container .wrapper .text p {
        font-size: 14px;
    }
}
@media only screen and (max-width:718px){
    .container .wrapper .left-banner .sub-container h1 {
        font-size: 25px;
    }
    .container-two .wrapper .card p {
        font-size: 11px;
    }
    .container-two .wrapper .card {
        height: 70%;
    }
    .container .wrapper .left-banner .sub-container{
        width: 100%;
        height: 100%;
    }
    .container .wrapper .left-banner .sub-container h1 {
        font-size: 33px;
    }
    .container .sub-para {
        height: 45%;
        width: 100%;
        /* background-color: lightcoral; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .container .wrapper .left-banner .sub-container .sub-para p {
        font-size: 16px;
        text-align: left;
        line-height: 1.5;
    }
    .container .card .heading {
        height: 30%;
        width: 82%;
        background-color: rgba(255, 255, 255, 0.18);
        border-radius: 18px;
        position: relative;
    }
    .container-four .wrapper .card-container .card .heading h1 {
        font-size: 16px;
    }
}
@media only screen and (max-width:650px){
    .img-banner {
        height: 292px
    }
    .gold-loan-offer {
        height: 292px;
    }
    .gold-loan-offer .wrapper .heading h1 {
        font-size: 24px;
    }
    .gold-check {
        height: 406px;
    }
    .last-container {
        height: 361px;
    }
}
@media only screen and (max-width:623px){
    .container {
        height: 369px;
    }
    .container .wrapper .left-banner {
        width: 52%;
    }
    .container-four .wrapper .card-container .card .heading h1 {
        font-size: 16px;
    }
}
@media only screen and (max-width:529px){
    .container {
        height: 309px;
        margin-bottom: 10px;
    }
    .container .wrapper .left-banner .sub-container .sub-para p {
        font-size: 12px;
        line-height: 1.3;
    }
    .container .wrapper .right-banner .sub-container {
        gap: 10px;
        height: 241px;
    }
    .container-two .wrapper {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 8px 17px
    }
    .container-two {
        height: 144px;
        margin-bottom: 116px;
    }
    .container-two .wrapper {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 8px 23px
    }
    .container-two .wrapper .card {
        height: 111px;
        width: 204px;
    }
    .container-two .wrapper .card:hover{
        height: 111px;
        width: 215px;
    }
    .container-two .wrapper {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 8px 11px
    }
    .container-three {
        height: auto;
        margin-bottom: 10px;
        /* background-color: aquamarine; */
    }
    .container-three .wrapper h1 {
        font-size: 32px;
        height: 40px;
    }
    .container-three .wrapper .card {
        height: 76%;
        width: 183px;
        margin-bottom: 13px;
        /* background-color: blueviolet; */
    }
    .container-three .wrapper .card:hover{
        width: 200px;
    }
    .container-three .wrapper .card-container {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px 0px;
    }
    .container-three .wrapper .card img {
        object-fit: cover;
        height: 110px;
    }

    .container-four {
        margin-bottom: 20px;
        height: 147px;
    }
    .container-four .wrapper h1 {
        height: 29%;
    }
    .container-four .wrapper .card-container .card .heading {
        height: 33px;
        width: 146px;
    }
    .container-four .wrapper .card-container .card .heading h1 {
       
        font-size: 15px;
    }
    .img-banner .wrapper{
        border-radius: 20px;
    }
    .img-banner .wrapper img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        /* border-radius: 15px; */
        box-shadow: 3px 5px 5px rgb(197, 197, 197);
        border-radius: 20px
    }
    .gold-loan-offer {
        height: 240px;
    }
    .gold-loan-offer .wrapper {
        height: 100%;
        width: 90%;
        border-radius: 20px
    }
    .gold-check .wrapper .gold-container .card-container .card img {
        height: 75%;
        width: 100%;
        object-fit: cover;
        border-radius: 19px;
    }
    .gold-check {
        height: 367px;
    }
    .img-banner {
        height: 240px;
    }
    .last-container .wrapper .text p {
        font-size: 12px;
    }
    .last-container {
        height: 315px;
    }
}
@media only screen and (max-width:488px){
    .container-two {
        height: 144px;
        margin-bottom: 128px;
    }
    .container-two .wrapper .card {
        height: 111px;
        width: 193px;
    }
    .container-three{
        margin-bottom: 20px;
    }
    .container-four {
        margin-bottom: 30px;
        height: 147px;
    }
    .container-four .wrapper h1 {
        height: 12%;
    }
    .container-four .wrapper .card-container .card .heading {
        height: 49px;
        width: 187px;
    }
    .container-four {
        margin-bottom: 76px;
        height: 352px;
    }
    .container-four .wrapper .card-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .container-four .wrapper .card-container .card:nth-child(1) {
        height: 50%;
        width: 100%;
        border-radius: 11px;
    }
    .container-four .wrapper .card-container .card:nth-child(2) {
        height: 50%;
        width: 100%;
        border-radius: 11px;
    }
    .img-banner {
        height: 240px;
        margin-bottom: 25px;
    }
    .gold-loan-offer .wrapper {
        height: 100%;
        width: 90%;
        border-radius: 12px;
    }
    .gold-check .wrapper .gold-container {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .gold-check .wrapper .gold-container .card-container .card {
        border-radius: 10px;
    }
    .gold-loan-offer .wrapper .heading h1 {
        font-size: 20px;
    }
}
@media only screen and (max-width:464px){
    .container-two .wrapper .card {
        height: 111px;
        width: 100%;
    }
    .container-two {
        height: auto;
        margin-bottom: 47px;
    }
    .container-three .wrapper{
        align-items: center;
    }
    .container-three .wrapper .card {
        height: 216px;
        width: 100%;
        margin-bottom: 10px;
    }
    .container-three {
        height: auto;
        margin-bottom: 38px;
    }
    .container-three .wrapper .card img {
        object-fit: container;
        height: 95%;
    }
    .container-three .wrapper .card .card-sub-heading {
        font-size: 16px;
    }
    .gold-loan-offer .wrapper .heading h1 {
        font-size: 18px;
    }
}
@media only screen and (max-width:427px){
    .container {
        height: auto;
        margin-bottom: 10px;
    }
    .container .wrapper {
        height: 100%;
        width: 90%;
        /* background-color: yellow; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container .wrapper .left-banner {
        width: 100%;
    }
    .container .wrapper .left-banner .sub-container {
        width: 100%;
        height: 168px;
        /* background-color: blueviolet; */
    }
    .container .wrapper .right-banner {
        width: 100%;
    }
    .container .wrapper .right-banner {
        width: 100%;
        height: 260px;
    }
    .container .wrapper .right-banner .sub-container .img-one {
        height: 218px;
        width: 45%;
        background-color: blueviolet;
        justify-self: start;
        align-self: flex-end;
        box-shadow: 10px 4px 10.3px gray;
        border-radius: 111px 111px 30px 30px;
    }
    .container .wrapper .right-banner .sub-container .img-two {
        height: 218px;
        width: 45%;
        background-color: rgb(226, 116, 43);
        box-shadow: 10px 4px 10.3px gray;
        border-radius: 30px 30px 111px 111px;
    }
}
@media only screen and (max-width:412px){
    .container {
        height: auto;
        margin-bottom: 10px;
    }
    .container .wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        /* background-color: aquamarine; */
    }
    .container .wrapper .left-banner .sub-container {
            width: 100%;
            height: 140px;
            justify-content: space-between;
    }
    .container .wrapper .left-banner {
        width: 100%;
        height: 211px;
    }
    .container .wrapper .right-banner {
        width: 100%;
        height: 175px;
    }
    .container .wrapper .right-banner {
        width: 100%;
        height: 256px;
        /* background-color: blue; */
    }
    .container .wrapper .right-banner .sub-container {
        gap: 10px;
        height: 241px;
        justify-content: center;
    }
    .container .wrapper .right-banner .sub-container .img-one {
        height: 200px;
        width: 149px;
        background-color: blueviolet;
        justify-self: start;
        align-self: flex-end;
        box-shadow: 10px 4px 10.3px gray;
        border-radius: 111px 111px 30px 30px;
    }
    .container .wrapper .right-banner .sub-container .img-two {
        height: 200px;
        width: 149px;
    }
    .container-two .wrapper .card p {
        font-size: 14px;
    }
    .container-four .wrapper .card-container .card .heading {
        height: 59px;
        width: 198px;
    }
    .container-four .wrapper .card-container .card .heading h1 {
        font-size: 17px;
    }
}
@media only screen and (max-width:344px){
    .container-two .wrapper .card {
        height: 111px;
        width: 100%;
    }
    .gold-check {
        height: auto;
    }
    .gold-check .wrapper .gold-container .img-container {
        CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
        height: 90%;
        width: 100%;
    }
    .gold-check .wrapper .gold-container {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .gold-check .wrapper .gold-container .card-container {
        height: 90%;
        width: 100%;
        gap: 10px;
    }
    .gold-check .wrapper .gold-container .card-container .card {
        border-radius: 20p
    }
    .gold-loan-offer {
        height: 240px;
        margin-bottom: 24px;
    }
    .gold-loan-offer .wrapper .heading {
        height: 20%;
        width: 55%;
    }
    .last-container {
        height: auto;
        margin-bottom: 10px;
        /* background-color: aqua; */
    }
    .last-container .wrapper {
        height: auto;
        width: 90%;
        /* background-color: aquamarine; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5px;
        /* background-color: blueviolet; */
    }
    .last-container .wrapper .left, .right {
        height: auto;
        width: 100%;
    }
    .last-container .wrapper .left .text{
        height: auto;

    }
    .last-container .wrapper .text h4 {
        font-size: 22px;
    }
    .last-container .wrapper .right {
        width: 100%;
        height: 290px;
    }
}
